body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 380px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 20px;
}

button:hover {
  background: #005fa3;
}

.valore {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  color: #007acc;
}

.flash{
  margin-left: -75%;
  margin-top: -50%;
  filter: drop-shadow(0 25px 25px rgba(255,165,0,1));
  
}

.stima span{
  color: green;
  font-weight: bold;}

 


  .input-group {
  position: relative;
  margin: 20px 0;
}

.input-group input {
  width: 100%;
  padding: 16px 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 16px;
  background: white;
  padding: 0 5px;
  color: #777;
  transition: 0.2s ease all;
  pointer-events: none;
}

/* Quando clicchi o scrivi */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: rgba(255,165,0,1);
}


#logoutbtn{
  margin-top: 20px;
  background-color: red;
}

#saveBtn{
  background-color: rgb(45, 134, 85);
}

.stima{
  font-size: 1.3rem;
}

#registrati{
  background-color: rgba(255,165,0,1);
}

#accedi{
  background-color: green;
}

#loadBtn{
  background-color: rgba(255,165,0,1);
}

#loginPassword{
 margin: 5px; 
 padding: 10px;
 margin-bottom: 25px;
}

#loginEmail{
  margin: 5px;
  padding: 10px;
}

#submitNewPasswordLogged{
  background-color: green;
}

#annullasubmitNewPasswordLogged{
  background-color: red;
}


