*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

#main-screen,
#dash-screen,
#reset-screen,
#changePasswordDiv {
  display: none;
}



body.ready {
  opacity: 1;
}


.container {
  background: white;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 20px;
}

button:hover {
  background: #005fa3;
}

.valore {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  color: #007acc;
}

.flash{
  margin-left: -75%;
  margin-top: -50%;
  filter: drop-shadow(0 25px 25px rgba(255,165,0,1));
  
}

.stima span{
  color: green;
  font-weight: bold;}

 


  .input-group {
  position: relative;
  margin: 20px 0;
}

.input-group input {
  width: 100%;
  padding: 16px 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 16px;
  background: white;
  padding: 0 5px;
  color: #777;
  transition: 0.2s ease all;
  pointer-events: none;
}

/* Quando clicchi o scrivi */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: rgba(255,165,0,1);
}


#logoutbtn, #pre-back{
  margin-top: 10px;
  background-color: red;
}



.stima{
  font-size: 1.3rem;
}

#registrati{
  background-color: rgba(255,165,0,1);
  margin: 0 auto;
  
}



#loadBtn{
  background-color: rgba(255,165,0,1);
}

#loginPassword{
 margin: 5px; 
 padding: 10px;
 margin-bottom: 25px;
}

#loginEmail{
  margin: 5px;
  padding: 10px;
}

#submitNewPasswordLogged{
  background-color: green;
}

#annullasubmitNewPasswordLogged{
  background-color: red;
}


#pre-registrati, #accedi, #saveBtn, #impo{
  background-color:  rgba(255,165,0,1);
  
  
}

#pre-back{
  
  margin: 0 auto;
  margin-top: 20px;
}

#resetPasswordBtn{
  display: block;
  margin: 0 auto;
}

/* ----------------------------------------------- */

#oggi, #domani, #ieri{
 
  width: 100%;
  
  display: flexbox;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 10px 0px;
  
  
  
}

.imgbn{
  opacity: 0.2;
  text-align: left;
  display: flex;
  justify-content: start;
  margin: auto 0px;
  
}

.h6comune, .h6produzione{
  margin: 0 auto;
  margin-top: 8px;
  
}

.h6produzione{
  color: green;
  font-size: 1rem;
}

.h6comune{
  font-size: 0.8rem;
}

.containerProduzioneDash{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.divproduzione{
  margin-right: 24px;
}

.divcomune, .div-divproduzione{
  margin-top: 24px;
}

#dash-screen{
  width: 100%;
}

@media (max-width: 498px) {
  .container {
    
    padding: 30px 30px;
  }
}

#logoutbtn{
  display: block;
  margin: 0 auto;
  
}

#potenza-impianto{
  margin-bottom: 8px;
}

#impo, #saveBtn, #loadBtn, #logoutbtn {
  display: flex;
  margin: 0 auto;
}
#imgimpo, #imgsave, #imgreload, #imglogout{
  height: 20px;
  justify-content: center;
  margin-right: 10px;
}


#saveBtn, #loadBtn{
  margin-bottom: 15px;
}



#ieri, #domani {
  position: relative; /* Indispensabile per lo z-index */
  z-index: 1;         /* Livello più basso */
  transform: scale(0.8);
  margin: -15px 0;    /* Aumentato leggermente per accentuare l'effetto */
  background-color: #f9f9f9; /* Grigio chiaro per dare profondità */
  opacity: 0.9;
}

#oggi {
  position: relative; /* Indispensabile per lo z-index */
  z-index: 10;        /* Livello più alto */
  transform: scale(1);
  background-color: white; /* Risalta rispetto agli altri */
  box-shadow: 8px 8px 25px  rgba(0, 199, 103, 0.511); /* Ombra più marcata per staccarlo dal fondo */
  animation: glow-pulse 3s ease-in-out infinite;
}


#impo{
  margin-top: 15px;
}

@keyframes glow-pulse {
  0%, 100% {
    /* Bagliore minimo */
    box-shadow: 0px 0px 25px 00px  rgba(0, 199, 103, 0.511); /* Ombra più marcata per staccarlo dal fondo */

  }
  50% {
    /* Bagliore massimo e leggero cambio di colore */
    box-shadow: 0px 0px 55px 5px rgba(0, 199, 103, 0.712); /* Ombra più marcata per staccarlo dal fondo */

  }
}

#labelieri, #labeloggi, labeldomani{
  font-weight: bold;

}